@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: calc(100% - 20%);
  margin: 0 auto;
}
#show {
  overflow-x: scroll;
}
.loginModal {
  z-index: 99999999 ; 
}
@media (max-width: 767px) {
  .container {
    width: calc(100% - 5%);
  }
}
